<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <context id="local"  targetRuntime="MyBatis3">
        <!-- 自動生成MapperにはMapperアノテーションを付与する -->
        <plugin type="org.mybatis.generator.plugins.MapperAnnotationPlugin"/> 
        <!-- 自動生成される各要素のコメントに生成時刻が出力されないように設定する -->
        <commentGenerator>
            <property name="suppressDate" value="true" />
            <property name="suppressAllComments" value="false" />
            <property name="addRemarkComments" value="true" />
        </commentGenerator>
        
        <!-- 接続先DB情報 -->
        <jdbcConnection driverClass="org.h2.Driver"
                        connectionURL="jdbc:h2:file:~/stapler;DATABASE_TO_LOWER=TRUE;DEFAULT_NULL_ORDERING=HIGH;"
                        userId=""
                        password="" >
            <!-- UUIDの型情報を正しく取得するための設定 -->
            <property name="nullCatalogMeansCurrent" value="true"/>
            <property name="useInformationSchema" value="true"/>
        </jdbcConnection>
        
        <!-- Java型マッピングの設定 -->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
            <property name="useJSR310Types" value="true"/>
        </javaTypeResolver>
        <!-- Model(Entity)作成先 -->
        <!--
        targetProjectにはjavaパッケージを指定します。
        Windows環境の場合Cドライブ以下のパスを指定します。
        例: /dev/kakeibou/backend/infrastructure/src/main/java
        Mac/Linux環境の場合は、ホームディレクトリ以下のパスを指定します。
        例: /Users/Username/dev/kakeibou/backend/infrastructure/src/main/java
        -->
        <javaModelGenerator targetPackage="com.kakeibou.infrastructure.mybatis.generated.entity"
                        targetProject="${user.home}/dev/kakeibou/backend/infrastructure/src/main/java" />

        <!--
        targetProjectにはresourcesパッケージを指定します。
        Windows環境の場合Cドライブ以下のパスを指定します。
        例: /dev/kakeibou/backend/infrastructure/src/main/resources
        Mac/Linux環境の場合は、ホームディレクトリ以下のパスを指定します。
        例: /Users/Username/dev/kakeibou/backend/infrastructure/src/main/resources
        -->
        <!-- Mapper.xml作成先 -->
        <sqlMapGenerator targetPackage="com.kakeibou.infrastructure.mybatis.generated.mapper"
                        targetProject="${user.home}/dev/kakeibou/backend/infrastructure/src/main/resources" />

        <!--
        targetProjectにはjavaパッケージを指定します。
        Windows環境の場合Cドライブ以下のパスを指定します。
        例: /dev/kakeibou/backend/infrastructure/src/main/java
        Mac/Linux環境の場合は、ホームディレクトリ以下のパスを指定します。
        例: /Users/Username/dev/kakeibou/backend/infrastructure/src/main/java
        -->
        <!-- Mapper.java作成先 -->
        <javaClientGenerator targetPackage="com.kakeibou.infrastructure.mybatis.generated.mapper"
                        targetProject="${user.home}/dev/kakeibou/backend/infrastructure/src/main/java"
                        type="XMLMAPPER" />
                        
        <!-- 生成対象テーブル -->
        <table schema="" tableName="user_accounts" domainObjectName="UserAccountEntity" mapperName="UserAccountMapper">
            <property name="mapUnderscoreToCamelCase" value="true" />
            <property name="ignoreQualifiersAtRuntime" value="true" />
            <columnOverride column="id" javaType="java.util.UUID" jdbcType="OTHER"/>
        </table>

        <table schema="" tableName="expense_categories" domainObjectName="ExpenseCategoryEntity" mapperName="ExpenseCategoryMapper">
            <property name="mapUnderscoreToCamelCase" value="true" />
            <property name="ignoreQualifiersAtRuntime" value="true" />
            <columnOverride column="id" javaType="java.util.UUID" jdbcType="OTHER"/>
        </table>

        <table schema="" tableName="monthly_budgets" domainObjectName="MonthlyBudgetEntity" mapperName="MonthlyBudgetMapper">
            <property name="mapUnderscoreToCamelCase" value="true" />
            <property name="ignoreQualifiersAtRuntime" value="true" />
            <columnOverride column="id" javaType="java.util.UUID" jdbcType="OTHER"/>
            <columnOverride column="user_id" javaType="java.util.UUID" jdbcType="OTHER"/>
            <columnOverride column="category_id" javaType="java.util.UUID" jdbcType="OTHER"/>
        </table>

        <table schema="" tableName="expense_records" domainObjectName="ExpenseRecordEntity" mapperName="ExpenseRecordMapper">
            <property name="mapUnderscoreToCamelCase" value="true" />
            <property name="ignoreQualifiersAtRuntime" value="true" />
            <columnOverride column="id" javaType="java.util.UUID" jdbcType="OTHER"/>
            <columnOverride column="user_id" javaType="java.util.UUID" jdbcType="OTHER"/>
            <columnOverride column="category_id" javaType="java.util.UUID" jdbcType="OTHER"/>
        </table>
    </context>
</generatorConfiguration>